@media (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow: hidden;
    /* background: #0c354e; */
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* background: url("./joanna-kosinska-MDY8nnzMJn4-unsplash.jpg") no-repeat
      center center / cover; */
  }
  .wrapper {
    width: 100vw;
    height: 100vh;
  }
  .wrapper img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .wela {
    animation: fall linear forwards;
    position: absolute;
    border-radius: 50%;
    top: -50px;
    width: 40px;
    height: 40px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fa-snowflake {
    color: #fff;
    animation: fall linear forwards;
    position: absolute;
    top: -50px;
  }

  @keyframes fall {
    to {
      transform: translateY(110vh);
    }
  }
}
